<div class="container">
    <!-- <div class="box">

    <div class="row">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">About
                    <strong>WiML Tübingen</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="img/panel.png" alt="Tulip">
            </div>
            <div class="col-md-6">
                <p>WiML Tübingen is a group of women pushing the boundries of societal stereotypes and working to advance the inclusion of women in AI.</p>
                <p>We are fueled by a passion to cause positive impact in the society through machine learning.</p>
                <p> We specialize in natural language processing, and computer vision, aiming to solve complex problems and drive progress. </p>
                <p>Education and community engagement are central to our mission, as we strive to empower the next generation of AI experts through workshops and mentorship.</p> 
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="box"> -->
        <br>
        <br>
    <div class="row">
        
            <div class="col-lg-12">
                <!-- <hr> -->
                <h2 class="intro-text text-center">Our
                    <strong>Team</strong>
                </h2>
                <!-- <hr> -->
                <br>
                <br>
            </div>
            <div class="container">
            <div class="col-sm-2 text-center organizer">
                <img   style="width: 150px; height: 150px;" class="organizer-img img-responsive" src="img/people/Claire_Vernade_group_leader.jpg" alt="">
                <h3>Claire Vernade
                    <small>Group Leader</small>
                </h3>
            </div>
            <div class="col-sm-2 text-center organizer">
                <img   style="width: 150px; height: 150px;" class="organizer-img fit-image img-responsive" src="img/people/KatharinaEggensperger.jpg" alt="">
                <h3>Katharina Eggensperger 
                    <small>Group Leader</small>
                </h3>
            </div>
            <div class="col-sm-2 text-center organizer">
                <img style="width: 150px; height: 150px;" class="organizer-img fit-image img-responsive" src="img/people/Güner_Dilsad_Er.jpg" alt="">
                <h3>Güner Dilsad Er
                    <br>
                    <small>PhD Student</small>
                </h3>
            </div>
            <div class="col-sm-2 text-center organizer">
                <img class="organizer-img fit-image img-fluid" src="img/people/Raysa-Benatti-logistics.jpeg" alt="Name" style="max-width: 150px; height: auto;">
                <h3>Raysa Benatti
                    <br>
                    <small>PhD Student</small>
                </h3>
            </div>
            <div class="col-sm-2 text-center organizer">
                <img style="width: 150px; height: 150px;" class="organizer-img fit-image img-responsive" src="img/people/Ifeoma_Nwabufo_.png" alt="">
                <h3>Ifeoma Nwabufo
                    <br>
                    <small>PhD Student</small>
                </h3>
            </div>
            <div class="col-sm-2 text-center organizer">
                <img style="width: 150px; height: 150px;" class="organizer-img fit-image img-responsive" src="img/people/Melis ilayda Bal_Logistics.jpeg" alt="">
                <h3>Melis Ilayda Bal
                    <br>
                    <small>PhD Student</small>
                </h3>
            </div>
            <div class="col-sm-2 text-center organizer">
                <img style="width: 150px; height: 150px;" class="organizer-img fit-image img-responsive" src="img/people/Sabrine_Chebbi_Postdoc.jpg" alt="">
                <h3>Sabrine Chebbi
                    <br>
                    <small>Postdoctoral researcher</small>
                </h3>
            </div>
            <div class="col-sm-2 text-center organizer">
                <img style="width: 150px; height: 150px;" class="organizer-img fit-image img-responsive" src="img/people/NoraCastner.JPG" alt="">
                <h3>Nora Castner
                    <br>
                    <small>Postdoctoral researcher</small>
                </h3>
            </div>
            <div class="col-sm-2 text-center organizer">
                <img style="width: 150px; height: 150px;" class="organizer-img fit-image img-responsive" src="img/people/Michela_Petriconi_Communication.jpeg" alt="">
                <h3>Michela Petriconi
                    <br>
                    <small>PhD Student</small>
                </h3>
            </div>
        </div>
            
            
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<!-- /.container -->