<br>
<br>

<div class="row">
    <div class="col-lg-12">
        <h2 class="intro-text text-center">Our
            <strong>Team</strong>
        </h2>
    </div>

    <div class="team-grid">
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/Anna_Levina.jpeg" alt="">
            <h3>Anna Levina
                <br>
                <small>Professor</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/user.jpg" alt="">
            <h3>Trang-Anh Nghiem
                <br>
                <small>Professor</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/Jacqueline_Gut.jpeg" alt="">
            <h3>Jacqueline Gut
                <br>
                <small>PhD Student</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/Shrestha_Ghosh.jpg" alt="">
            <h3>Shrestha Ghosh
                <br>
                <small>Postdoctoral Researcher</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/Maria_Venegas-Carro 2.jpeg" alt="">
            <h3>Maria Venegas-Carro
                <br>
                <small>Scientific Grant Writer</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/Shakila_Mostaan.png" alt="">
            <h3>Shakila Mostaan
                <br>
                <small>Scientific Grant Writer</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/Anne_Schlecht.png" alt="">
            <h3>Anne Schlecht
                <br>
                <small>MSc Student</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/Danjela_Lura.jpg" alt="">
            <h3>Danjela Lura
                <br>
                <small>MSc Student</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/Ifeoma_Nwabufo.png" alt="">
            <h3>Ifeoma Nwabufo
                <br>
                <small>PhD Student</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/Larisa_Ivanova.jpg" alt="">
            <h3>Larisa Ivanova
                <br>
                <small>Research Associate</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/Kailin_Zhu.png" alt="">
            <h3>Kailin Zhu
                <br>
                <small>BSc Student</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/user.jpg" alt="">
            <h3>Mansi Pachori
                <br>
                <small>MSc Student</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/user.jpg" alt="">
            <h3>Osane Hackel
                <br>
                <small>PhD Student</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/Pegah_Khosravani.png" alt="">
            <h3>Pegah Khosravani
                <br>
                <small>PhD Student</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/Rafia_Rahim.jpeg" alt="">
            <h3>Rafia Rahim
                <br>
                <small>Postdoctoral Researcher</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/user.jpg" alt="">
            <h3>Urmi Jana
                <br>
                <small>MSc Student</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/Victoria_Mangold.jpeg" alt="">
            <h3>Victoria Mangold
                <br>
                <small>AI Research Scientist</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/people/Yana_Savytska.jpg" alt="">
            <h3>Yana Savytska
                <br>
                <small>Postdoctoral Researcher</small>
            </h3>
        </div>

    </div>
    <!-- /.team-grid -->
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 class="intro-text text-center">Our
            <strong>Alumni</strong>
        </h2>
    </div>

    <div class="team-grid">

        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/former_members/Güner_Dilsad_Er.jpg" alt="">
            <h3>Güner Dilsad Er
                <br>
                <small>PhD Student</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/former_members/Mueller_Lara.jpg" alt="">
            <h3>Lara Müller
                <br>
                <small>MSc Student</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/former_members/Melis ilayda Bal_Logistics.jpeg" alt="">
            <h3>Melis Ilayda Bal
                <br>
                <small>PhD Student</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/former_members/Kayoon_TWiML.jpg" alt="">
            <h3>Kayoon Kim
                <br>
                <small>MSc Student</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/former_members/emi_pic2.JPG" alt="">
            <h3>Emilia Magnani
                <br>
                <small>PhD Student</small>
            </h3>
        </div>
        <div class="col-sm-2 text-center organizer">
            <img class="organizer-img fit-image img-responsive" src="img/former_members/Michela_Petriconi_Communication.jpeg" alt="">
            <h3>Michela Petriconi
                <br>
                <small>PhD Student</small>
            </h3>
        </div>

    </div>
    <!-- /.team-grid -->
</div>
