<div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
							<li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="carousel-caption">
                                  <h1>Learn. Build. Inspire.</h1>
                                  <p>Dive into the depths of digital innovation at WiML. Whether you're here to build your knowledge or construct the next big solution, our platform is your springboard. Learn from the best, build your legacy, and inspire the next generation of tech enthusiasts.</p>
                                  <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}" role="button">Sign Up</a></p>
                                </div>
                              </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption">
                                  <h1>Explore. Create. Contribute.</h1>
                                    <p> We are a dynamic hub for innovators, developers, and pioneers in the field. With a spotlight on AI, our platform is an ever-expanding universe of knowledge. Here, you can explore new ideas, create impactful content, and contribute to a community that's shaping the technological landscape.</p>
                                </div>
                              </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption">
                                  <h1>Connect. Evolve. Lead.</h1>
                                        <p>W are a movement. A gathering of minds passionate about AI. Here, you connect with ideas that challenge, evolve with a community that supports, and lead in a field that never stops moving. Whether you're seeking insights or aiming to influence, your journey towards technological leadership starts here.</p>              
                                </div>
                              </div>
                            </div>
                          </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>   
                </div>
            </div>
        </div>