<div id="hero" class="box">
    <div id="hero" class="row">
                            <div  class="col-lg-12 text-center">
                                <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
                                    <div class="row justify-content-center">
                                        <div class="col-xl-7 col-lg-11 text-center">
                                        <h1> Tübingen Women in Machine Learning </h1>
                                        <h2>Empowering Women in AI </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <a href="/contact" class="btn-get-started scrollto">Contact Us</a>
                            </div>
                            <div class="row icon-boxes">
                                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="icon-box">
                                        <div class="icon">
                                            <i class="ri-stack-line"></i>
                                        </div>
                                        <h4 class="title"><a href="">Connect</a></h4>
                                        <p class="description">Diverse Perspectives, Powerful Solutions: Join the TWiML community today and connect with like-minded women!</p>
                                    </div>
                                </div>

                            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
                                <div class="icon-box">
                                    <div class="icon">
                                        <i class="ri-palette-line"></i>
                                    </div>
                                    <h4 class="title"><a href="">Share</a></h4>
                                    <p class="description">Spread the Knowledge, Amplify the Impact: We share our stories to empower Women in ML.</p>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
                                <div class="icon-box">
                                    <div class="icon">
                                        <i class="ri-command-line"></i>
                                    </div>
                                    <h4 class="title"><a href="">Collaborate</a></h4>
                                    <p class="description">Fostering Collaboration, Driving Innovation: Collaborate on ground-breaking projects!.</p>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
                                <div class="icon-box">
                                    <div class="icon">
                                        <i class="ri-fingerprint-line"></i>
                                    </div>
                                    <h4 class="title"><a href="">Research</a></h4>
                                    <p class="description">Empowering Minds, Shaping the Future: Collaborative Research for Women in ML.</p>
                                </div>
                            </div>
</div>
</div>
</div>

