  <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                   
                    <h3 class="intro-text text-center">Upcoming Events
                    </h3>
                </div>
                <div class="col-lg-12 text-center">
                  <!-- <img class="img-responsive img-border img-full" src="img/discuss.jpeg" alt="Tulip"> -->
                  <h2>2nd WORKSHOP OF Tübingen Women in Machine Learning</h2> 
                  <h3 style="font-size: medium">Bridging industry and academia</h3>
                  <h3>October 11, 2024</h3>
                  <h3 class="intro-text" style="font-size: medium">tentative schedule</h3>
                </div>
                <div style="width: 50%;position: relative;left: 50%;transform: translate(-50%, 0%);">
                  <table class="table table-sm table-striped">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!-- <th scope="row"></th> -->
                        <td><b>9:00-11:30</b></td>
                        <td><b>Invited talks:</b>
                          <br>
                        <p><b style="color:#D11C8C">Betty Mohler</b>, Amazon Science</p>
                        <p><b style="color:#D11C8C">Tanja Tauber</b>, ZEISS Corporate Research & Technology</p>
                        <p><b style="color:#D11C8C">Georgia Chalvatzaki</b>, TU Darmstadt</p>
                        <p><b style="color:#D11C8C">Auguste Schultz</b>, University of Tübingen </p>
                        <p><b style="color:#D11C8C">Almut Sophia Koepke</b>, University of Tübingen (TBC)</p>
                      </td>
                      </tr>
                      <tr>
                        <!-- <th scope="row"></th> -->
                        <td><b>11:30-12:30</b></td>
                        <td><b>Science speed dating</b></td>
                      </tr>
                      <tr>
                        <!-- <th scope="row"></th> -->
                        <td><b>12:30-13:30</b></td>
                        <td><b>Lunch</b></td>
                      </tr>
                      <tr>
                        <!-- <th scope="row"></th> -->
                        <td><b>13:30-15:30</b></td>
                        <td><b>Poster session</b></td>
                      </tr>
                      <tr>
                        <!-- <th scope="row"></th> -->
                        <td><b>15:30-16:30</b></td>
                        <td><b>Panel discussion</b></td>
                      </tr>
                      <tr>
                        <!-- <th scope="row"></th> -->
                        <td><b>16:30</b></td>
                        <td><b>Aperitif</b></td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <a href="#" class="btn btn-default btn-lg">Read More</a> -->
              </div>
              <div class="col-lg-12 text-center">
                The event is supported by <a href="https://www.wiml.org">WiML</a>, <a href="https://uni-tuebingen.de/en/research/core-research/cluster-of-excellence-machine-learning/home/">Cluster of Excellence</a> and <a href="https://imprs.is.mpg.de">IMPRS-IS</a>.
                <br>
                We will assign a <b>NeurIPS travel award</b> for the best poster. All participants must abide the <a href="https://www.wiml.org/conduct">WiML CoC</a>.
                </div>
                
                <div class="col-lg-12 text-center" style="display: flex; justify-content: center; margin-top: 20px;">
                  <img src="img/Logos.png" style="position: center">
                </div>
              <div class="col-lg-12 text-center">
                <h3 class="intro-text" style="font-size: medium">Register here and submit your poster</h3>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdWddD3uRq0rdq7ZPjR1607pxgTHJRqKG5FRub8KdSOiefZBw/viewform?embedded=true" width="640" height="2659" frameborder="0" marginheight="0" marginwidth="0">Caricamento…</iframe>
                </div>
                <br>
                <div class="col-lg-12">
                    <h3 class="intro-text text-center">Past Events
                    </h3>
                </div>
                <div class="col-lg-12 text-center">
                    <!-- <img class="img-responsive img-border img-full" src="img/discuss.jpeg" alt="Tulip"> -->
                    <h2> Workshop for International Women's day
                    </h2>
                    <h3 style="font-size: medium">Machine Learning from Theory to Application</h3>
                    <h3>March 8, 2024</h3>
                    <!-- <a href="#" class="btn btn-default btn-lg">Read More</a> -->
                </div>
                </div>        
    </div>
    <div id="carouselExampleIndicators" class="carousel slide mx-auto">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../img/08_03_24/im4 2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/08_03_24/im_2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/08_03_24/im3 2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/08_03_24/im_1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/08_03_24/im5 2.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
        </div>
    <!-- /.container -->
