 <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">TWiML
                        <strong>News</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/discuss.jpeg" alt="Tulip">
                    <h2>Tübingen WiML Holds Her First Women's Day
                        <br>
                        <small>March 8, 2024
                        </small>
                    </h2>
                    <p>On a serene day in Tübingen, a new chapter was penned at the Lecture Hall of the AI Bulding, as the community gathered to celebrate the International Women's Day for the first time under TWiML. Intelligent women in machine learning gave talks about their works. </p>
                    <a href="#" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                

    </div>
    <!-- /.container -->
